<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/base :: baseHead"></th:block>
    <script th:src="@{/js/bus_websocket.js}"></script>
</head>
<body>
<div id="splash" th:style="'background-image: url(\'' + @{/images/chariot-students-splash-overlay0.3.jpg} + '\');'">
    <th:block th:replace="fragments/student_navbar :: navbarContent"></th:block>
</div>
<main style="overflow-x: hidden;">
    <div class="row">
        <div class="column left">
            <h2>WELCOME, STUDENT</h2>
            <hr class="yellow">
            <p>This is your dashboard as a UNCG Student for tracking Spartan Chariots, requesting rides, and leaving
                reviews.</p>
            <div class="profile-container">
                <div>
                    <h2>YOUR INFORMATION</h2>
                    <hr class="yellow">
                    <div class="profile-info"><span class="profile-info-title">Name:</span> <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></div>
                    <div class="profile-info"><span class="profile-info-title">Email:</span> <span th:text="${user.email}"></span></div>
                    <div class="profile-info"><span class="profile-info-title">Username:</span> <span th:text="${user.username}"></span></div>
                </div>
                <br>
                <div>
                    <h2>BUS SCHEDULE</h2>
                    <hr class="yellow">
                    <div>
                        <p><b>Monday-Friday</b>: 7:30 AM-12:30 AM</p>
                        <p><b>Saturday</b>: 5:30 PM-12:30 AM</p>
                        <p><b>Sunday</b>: 3:30 PM-12:30 AM</p>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="column right" style="background-color: white; border: 1.5px solid #ffb71b">
            <h2>REQUEST A RIDE</h2>
            <hr class="yellow">
            <form>
                <label for="alertTarget">Pick Up: &nbsp</label>
                <select id="alertTarget">
                    <option>College Ave</option>
                    <option>Walker Circle</option>
                    <option>Spartan Village</option>
                    <option>Spring Garden</option>
                </select>
                <br>
                <label for="alertTarget">Drop Off: </label>
                <select id="alertTarget">
                    <option>Walker Circle</option>
                    <option>College Ave</option>
                    <option>Spartan Village</option>
                    <option>Spring Garden</option>
                </select>
                <br>
                <button type="submit">Submit</button>
                <br>
            </form>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>