<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="driver_navbar">
    <nav th:fragment="navbarContent">
        <ul>
            <li><a href="/driver/home">HOME</a></li>
            <li><a href="/driver/alert">SEND ALERT</a></li>
            <li><a href="/driver/requests">REQUESTS</a></li>
            <li><a href="/driver/reviews">REVIEWS</a></li>
            <li><a href="/driver/track">TRACK</a></li>
            <li class="li-right"><a href="/signout">SIGN OUT</a></li>
        </ul>
    </nav>
</html>