<!DOCTYPE html>
<html lang="en">


<head>
    <th:block th:replace="fragments/base :: baseHead"></th:block>
</head>

<body>

<div id="splash" th:style="'background-image: url(\'' + @{/images/uncg-spring-splash-overlay0.3.jpg} + '\');'">
    <th:block th:replace="fragments/navbar :: navbarContent"></th:block>
</div>

<form name="f" th:action="@{/login}" method="post">
    <div class="login-container">
        <legend>Please Login</legend>
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <h2 class="text-center">Login to Your Account</h2>
        <hr class="yellow">
        <div class="login-form">
            <input class="form-control" placeholder="Username" id="username" name="username" required>
            <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
            <div class="form-actions">
                <button type="submit" class="btn btn-block login-button">Login</button>
            </div>
    </div>
</form>
    <div class="text-center mt-3">
        <p>Don't have an account? <a href="/signup" style="color:#0f2044">Sign up</a></p>
    </div>
</body>

</html>